.card {
	padding: 1em 0 1em 0;
	font-size: 0.8em;
	width: 40%;
	float: left;
	height: 100%;
	color: #FDFFFC;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	z-index: 100;
	background-color: $dark-blue;
	position: relative;
	overflow: hidden;
	@include portrait('medium') {
		align-items: center;
		width: 100%;
		height: 15%;
	}
	@include landscape('medium') {
		width: 25%;
	}
	@include portrait('smaller') {
		font-size: 0.7em;
	}
}

.card--full {
	align-items: center;
	font-size: 1.5em;
	width: 100%;
	height: 100%;
	@include portrait('medium') {
		padding: 2em 0 2em 0;
	}
	@include landscape('medium') {
		font-size: 1em;
	}
	@include landscape('small') {
		font-size: 0.8em;
	}
	@include portrait('smaller') {
		font-size: 1em;
	}
}

.card__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 80%;
	height: 45%;
	@include respond-to('medium') {
		display: none;
	}
}

.card__main {
	@extend .card__wrapper;
	height: 55%;
	@include portrait('medium') {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
	@include landscape('medium') {
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
	}
}

.card__wrapper--full, .card__main--full {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 80%;
	@include landscape('small') {
		height: auto;
	}
}

#card__burger {
	display: none;
	&:checked {
		+ .card__burger {
			span {
				background-color: rgba(255, 255, 255, 0.8);
				opacity: 0;
				top: 50%;
			}
			span:first-child {
				opacity: 1;
				transform: rotate(405deg);
			}
			span:last-child {
				opacity: 1;
				transform: rotate(-405deg);
			}
		}
	}
}

.card__burger {
	display: none;
	position: absolute;
	top: 20px;
	right: 20px;
	height: 40px;
	width: 40px;
	span {
		position: absolute;
		width: 100%;
		height: 4px;
		top: calc(50% - 2px);
		left: 0;
		display: block;
		background-color: rgba(255, 255, 255, 0.7);
		transition: .5s;
	}
	span:first-child {
		top: 5px; 
	}
	span:last-child {
		top: 31px; 
	}
	&:hover {
		cursor: pointer;
		span {
			background-color: #fff;	
		}
	}
	@include respond-to('medium') {
		display: block;
	}
}

.card__name {
	text-align: center;
	display: flex;
	flex-direction: column;
}

.card__name--full {
	flex-direction: column;
}

.card__photo {
	width: 150px;
	height: 150px;
	margin: 15px 0;
	background: url('assets/photo1.jpg');
	background-position: center center;
	background-size: cover;
	border-radius: 50%;
	position: relative;
	border: 2px solid #182B3A;
	&::after {
		content: '';
		display: block;
		border-radius: 50%;
		width: 190px;
		height: 190px;
		position: absolute;
		left: calc(50% - 95px);
		bottom: calc(50% - 95px);
		background-color: rgba(255, 255, 255, 0.02);
	}
	&::before {
		content: '';
		display: block;
		border-radius: 50%;
		width: 170px;
		height: 170px;
		position: absolute;
		left: calc(50% - 85px);
		bottom: calc(50% - 85px);
		background-color: rgba(255, 255, 255, 0.02);
	}
	@include portrait('medium') {
		margin: 0 6em;
	}
	@include portrait('smaller') {
		margin: 0 3em;
		width: 120px;
		height: 120px;
		&::after {
			width: 170px;
			height: 170px;
			left: calc(50% - 85px);
			bottom: calc(50% - 85px);
		}
		&::before {
			width: 150px;
			height: 150px;
			left: calc(50% - 75px);
			bottom: calc(50% - 75px);
		}
	}
	@include portrait('tiny') {
		margin: 0 2em;
		width: 80px;
		height: 80px;
		&::after {
			width: 120px;
			height: 120px;
			left: calc(50% - 60px);
			bottom: calc(50% - 60px);
		}
		&::before {
			width: 100px;
			height: 100px;
			left: calc(50% - 50px);
			bottom: calc(50% - 50px);
		}
	}
	@include landscape('smaller') {
		display: none;
	}
}

.card__photo--full {
	width: 230px;
	height: 230px;
	&::after {
		width: 310px;
		height: 310px;
		left: calc(50% - 155px);
		bottom: calc(50% - 155px);
	}
	&::before {
		width: 270px;
		height: 270px;
		left: calc(50% - 135px);
		bottom: calc(50% - 135px);
	}
	@include landscape('medium') {
		width: 150px;
		height: 150px;
		&::after {
			width: 190px;
			height: 190px;
			left: calc(50% - 95px);
			bottom: calc(50% - 95px);
		}
		&::before {
			width: 170px;
			height: 170px;
			left: calc(50% - 85px);
			bottom: calc(50% - 85px);
		}
	}
	@include landscape('small') {
		display: none;
	}
	@include portrait('tiny') {
		width: 120px;
		height: 120px;
		&::after {
			width: 170px;
			height: 170px;
			left: calc(50% - 85px);
			bottom: calc(50% - 85px);
		}
		&::before {
			width: 150px;
			height: 150px;
			left: calc(50% - 75px);
			bottom: calc(50% - 75px);
		}
	}
}

.card__navigation {
	width: 60%;
	margin-bottom: 15px;
}

.navigation__list {
	width: 100%;
}

.navigation__item {
	display: block;
	padding: 8px 20px;
	border: 0;
	border-radius: 20px;
	margin-bottom: 8px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.05);
	transition: background-color 0.75s ease-in, color 0.5s ease-in;
	&:last-of-type {
		margin-bottom: 0;
	}
	&:hover {
		cursor: pointer;
		color: $dark-blue;
		background-color: $powder-white;
	}
}

.card__welcome {
	margin-bottom: 0;
	text-align: center;
	font-weight: 300;
}

.card__fa {
	font-size: 21px;
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: $dark-blue;
	border-radius: 50%;
	line-height: 40px;
	transition: 0.5s ease-out;
	margin-top: 15px;
	margin-right: 5px;
	&:visited,
	&:focus,
	&:active {
		color: $powder-white;
	}
	&:hover {
		color: $dark-blue;
		background-color: $powder-white;
	}
	&:last-of-type {
		margin-right: 0;
	}
}

.stripes-group {
	display: flex;
	flex-direction: column;
	width: 1600px;
	height: 500px;
	position: absolute;
	top: 30%;
	left: -90%;
	transform: rotate(135deg);
	z-index: -1500;
	@include portrait('medium') {
		top: -10%;
		left: -60%;
	}
	@include landscape('medium') {
		top: 40%;
		left: -80%;
	}
}

.stripes-group--full {
	@include portrait('medium') {
		position: fixed;
		width: 400%;
		top: 20%;
		left: -100%;
	}
	@include landscape('medium') {
		position: fixed;
		width: 400%;
		top: 20%;
		left: -130%;
	}
}

.stripe {
	width: 100%;
	height: 33.33%;
}

.stripe-1 {
	@extend .stripe;
	background-color: rgba(255, 255, 255, 0.05);
}

.stripe-2 {
	@extend .stripe;
	background-color: rgba(255, 255, 255, 0.03);
}

.stripe-3 {
	@extend .stripe;
	background-color: rgba(255, 255, 255, 0.01);
}