.header__title--contact {
  @extend .header__title;
  color: $bright-yellow;
  border-color: #FFDCAC;
}

.contact__form {
  display: flex;
  flex-direction: column;
}

.contact__input {
  font-family: 'Roboto', sans-serif;
  margin: 10px 5px;
  padding: 15px 20px;
  background-color: $powder-white;
  border: 1px solid $dark-blue;
  color: $dark-blue;
  &::placeholder {
    color: #5D6A75;
  }
  &:focus {
  	outline: none;
  	border-color: $bright-yellow;
  }
}

.contact__textarea {
  @extend .contact__input;
	resize: none;
}

.button--contact {
  @extend .button;
  background-color: $bright-yellow;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition: color 1s ease-in-out;
  &:hover {
    color: $dark-blue;
  }
  &::before {
    content: '';
    position: absolute;
    border: $bright-yellow solid 6px;
    border-radius: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
  }
  &:hover::before,
  &:focus::before,
  &:active::before {
    -webkit-animation-name: hvr-ripple-out;
    animation-name: hvr-ripple-out;
  }
}

@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}