.header__title--works {
  @extend .header__title;
  color: $vivid-red;
  border-color: #F8C1C8;
}

.works__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1em;
}

.works__controller {
  &:first-of-type {
    padding-right: 15px;
  }
  &:last-of-type {
    padding-left: 15px;
  }
}

.works__button {
  background-color: $vivid-red;
  color: $powder-white;
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.5s ease-in;
  padding-top: 2px;
  &:hover {
    color: $dark-blue;
    background-color: #F8C1C8;
    border: 1px solid $vivid-red;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  i {
    font-size: 24px;
  }
}

#btn-left {
  padding-right: 5px;
}

#btn-right {
  padding-left: 5px;
}

.works__carousel {
  width: 100%;
  border: 1px solid $vivid-red;
  border-radius: 10px;
  overflow: hidden;
}

.works__slides {
  width: 500%;
  display: flex;
}

.works__container {
  width: 100%;
  padding: 0 1em 1em;
}

.works__header {

}

.works__title {
  color: $vivid-red;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.works__content {
  width: 100%;
  display: flex;
  align-items: center;
  @include portrait('medium') {
    flex-direction: column;
  }
}

.works__screen {
  flex: 60%;
}

.works__img {
  width: 100%;
}

.works__info {
  flex: 40%;
  font-size: 0.8em;
  padding-left: 2em;
}

.works__desc {
  margin-bottom: 0.5em;
}

.works__subtitle {
  margin-bottom: 0.5em;
  color: $vivid-red;
  font-weight: 700;
}

.works__devicon {
  font-size: 2em;
  color: $dark-blue;
  margin-right: 5px;
  &:last-of-type {
		margin-right: 0;
	}
}

.works__link {
  @extend .works__devicon;
  display: inline-block;
  text-decoration: none;
  margin-top: -9px;
  &:visited,
	&:focus,
	&:active {
		color: $dark-blue;
  }
  &:hover {
    color: $vivid-red;
  }  
}