.button {
  margin: 10px auto;
  border-radius: 10px;
  border: 0;
  width: 100%;
  max-width: 200px;
  font-size: 1em;
  text-align: center;
	color: $powder-white;
	font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
	&:hover {
    cursor: pointer;
  }
  &:focus {
  	outline: none;
  }
}