.container {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	@include portrait('medium') {
		display: block;
	}
	@include landscape('medium') {
	}
}

.sections {
	width: 60%;
	height: 100%;
	z-index: 90;
	left: 40%;
	position: relative;
	overflow: hidden;
	@include portrait('medium') {
		width: 100%;
		height: 85%;
		left: 0;
		top: 15%;
	}
	@include landscape('medium') {
		width: 75%;
		left: 25%;
	}
}

.sections__wrapper {
	width: 95%;
}

.section {
	padding: 1em 0 1em 1.5em;
	background-color: $powder-white;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
  z-index: 1500;
  position: relative;
	@include portrait('medium') {
		padding: 0.5em;
	}
}

.section__header {
	text-align: right;
}

.header__title {
	border-bottom: 2px solid $dark-blue;
}

.section__paragraph {
	text-align: justify;
	padding: 0;
	padding-right: 5%;
	@include portrait('medium') {
		padding-left: 5%;
	}
}

.section__subtitle {
	text-align: left;
	padding: 0;
	padding-right: 5%;
	@include portrait('medium') {
		padding-left: 5%;
	}
}