@import url("https://fonts.googleapis.com/css?family=Quando|Roboto:300,400,700");
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #011424; }

h1, h2, h3 {
  font-family: 'Quando', serif; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 4em;
  margin-bottom: 0.5em; }

h3 {
  font-size: 1.5em;
  margin-bottom: 1em; }

p {
  margin-bottom: 1em; }

.container {
  width: 100%;
  height: 100vh;
  padding: 0 10% 0 15%;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #011424;
  background: linear-gradient(90deg, #011424 0%, #011424 65%, #FDFFFC 65%, #FDFFFC 100%); }
  @media (max-width: 1024px) {
    .container {
      padding: 0 5%;
      display: block;
      background: linear-gradient(180deg, #011424 0%, #011424 40%, #FDFFFC 40%, #FDFFFC 100%); } }

.stripes-group {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  height: 60%;
  top: 25%;
  left: -20%;
  transform: rotate(135deg); }
  @media (max-width: 1024px) {
    .stripes-group {
      width: 150%;
      top: -10%; } }

.stripe, .stripe-1, .stripe-2, .stripe-3 {
  width: 100%;
  height: 33.33%; }

.stripe-1 {
  background-color: rgba(255, 255, 255, 0.05); }

.stripe-2 {
  background-color: rgba(255, 255, 255, 0.03); }

.stripe-3 {
  background-color: rgba(255, 255, 255, 0.01); }

.sections {
  -ms-flex: 60%;
      flex: 60%;
  height: 100%;
  z-index: 100;
  overflow: hidden; }
  @media (max-width: 1024px) {
    .sections {
      width: 100%;
      height: 60%; } }

.section {
  padding: 1em 0 1em 1.5em;
  background-color: #FDFFFC;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center; }
  @media (max-width: 1024px) {
    .section {
      padding: 1em 0 1em 0; } }

.section__header {
  text-align: right; }

.header__title, .header__title--about, .header__title--works, .header__title--contact {
  border-bottom: 2px solid #011424; }

.section__paragraph {
  text-align: justify;
  padding: 0;
  padding-right: 5%; }
  @media (max-width: 1024px) {
    .section__paragraph {
      padding-left: 5%; } }

.section__subtitle, .section__subtitle--about {
  text-align: left;
  padding: 0;
  padding-right: 5%; }
  @media (max-width: 1024px) {
    .section__subtitle, .section__subtitle--about {
      padding-left: 5%; } }

.card {
  padding: 1em 1.5em 1em 0;
  -ms-flex: 40%;
      flex: 40%;
  height: 100%;
  color: #FDFFFC;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 100; }
  @media (max-width: 1024px) {
    .card {
      width: 100%;
      height: 40%;
      padding: 1em 0 1em 0; } }

.card__name {
  text-align: center; }

.card__photo {
  width: 150px;
  height: 150px;
  background: url("assets/photo1.jpg");
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  position: relative;
  border: 2px solid #182B3A; }
  .card__photo::after {
    content: '';
    display: block;
    border-radius: 50%;
    width: 190px;
    height: 190px;
    position: absolute;
    left: calc(50% - 95px);
    bottom: calc(50% - 95px);
    background-color: rgba(255, 255, 255, 0.02); }
  .card__photo::before {
    content: '';
    display: block;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    position: absolute;
    left: calc(50% - 85px);
    bottom: calc(50% - 85px);
    background-color: rgba(255, 255, 255, 0.02); }

.card__welcome {
  font-size: 0.8em;
  text-align: center;
  font-weight: 300; }

.header__title--about {
  color: #2EC4B6;
  border-color: #C6EEEB; }

.section__subtitle--about {
  color: #2EC4B6; }

.about__stack {
  padding: 0;
  padding-right: 5%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  @media (max-width: 1024px) {
    .about__stack {
      padding-left: 5%; } }

.stack__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

.stack__icon {
  width: 80px;
  height: 80px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border: 1px solid #2EC4B6;
  border-radius: 10px;
  margin: 5px;
  padding: 2px; }
  .stack__icon:hover {
    background-color: #2EC4B6; }
  .stack__icon:hover [class^=devicon] {
    color: #FDFFFC; }
  .stack__icon:hover .stack__desc {
    color: #FDFFFC; }

.stack__devicon {
  color: #2EC4B6;
  font-size: 24px;
  margin-bottom: 5px; }

.stack__desc {
  font-weight: 700;
  font-size: 0.8em;
  color: #2EC4B6;
  margin-bottom: 0; }

.header__title--works {
  color: #E71D36;
  border-color: #F8C1C8; }

.works__carousel {
  -ms-flex-item-align: center;
      align-self: center;
  width: 545px;
  overflow: hidden; }

.works__slides {
  width: 1670px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start; }

.works__container {
  display: inline-block;
  width: 525px;
  padding: 15px;
  margin: 15px 10px;
  border: 1px solid #E71D36;
  border-radius: 10px; }

.works__title {
  color: #E71D36;
  margin-top: 0.5em; }

.works__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start; }

.works__screen {
  -ms-flex: 50%;
      flex: 50%; }

.works__img {
  width: 100%; }

.works__info {
  -ms-flex: 50%;
      flex: 50%;
  font-size: 0.8em;
  padding-left: 1em; }

.works__devicon {
  color: #E71D36; }

.header__title--contact {
  color: #FF9F1C;
  border-color: #FFDCAC; }