@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700");
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  padding: 0; }

body {
  background-color: #f7f7f7;
  font-family: 'Montserrat', sans-serif; }

.section, .section--services, .section--team, .section--logos, .section--premium, .section--facts, .section-address, .section--footer {
  width: 100%;
  padding-bottom: 60px; }

.section__header {
  padding-top: 60px;
  padding-bottom: 50px;
  text-align: center;
  text-transform: uppercase; }

.header__title, .header__title--services, .header__title--team, .header__title--facts {
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 15px; }

.header__subtitle {
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  color: #aeaeae; }

.section__content, .section__content--about, .section__content--projects, .section__content--premium, .section__content--contact {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  position: relative; }
  @media (max-width: 900px) {
    .section__content, .section__content--about, .section__content--projects, .section__content--premium, .section__content--contact {
      grid-column-gap: 15px; } }

.section__highlight, .section__highlight--services, .section__highlight--facts {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase; }

.section__subtle, .section__subtle--facts {
  font-size: 12px;
  line-height: 21px;
  font-weight: 300;
  color: #7e7e7e; }

.section__footer, .masthead__footer, .section__footer--projects, .section__footer--team, .section__footer--clients {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.aside, .section--logos, .section--share {
  background-color: #fff;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf; }

.container, .section__header, .section__content, .section__content--about, .section__content--projects, .section__content--premium, .section__content--contact, .section__footer, .masthead__footer, .section__footer--projects, .section__footer--team, .section__footer--clients, .navigation__container, .jumbotron, .projects__navigation {
  width: 100%;
  max-width: 1170px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto; }
  @media (max-width: 1200px) {
    .container, .section__header, .section__content, .section__content--about, .section__content--projects, .section__content--premium, .section__content--contact, .section__footer, .masthead__footer, .section__footer--projects, .section__footer--team, .section__footer--clients, .navigation__container, .jumbotron, .projects__navigation {
      padding-right: 15px;
      padding-left: 15px; } }

.button, .button--masthead, .button--about, .price__button, .button--newsletter {
  padding: 4px 7px;
  border-radius: 20px;
  border: 0;
  background-color: #b88b58;
  width: 100%;
  max-width: 194px;
  height: 45px;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  display: block; }
  .button:hover, .button--masthead:hover, .button--about:hover, .price__button:hover, .button--newsletter:hover {
    cursor: pointer;
    background-color: #000; }
  .button:focus, .button--masthead:focus, .button--about:focus, .price__button:focus, .button--newsletter:focus {
    outline: none; }

.round, .round--call, .round--up {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 1, 0.24);
  position: absolute;
  background-color: #b88b58;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .round:hover, .round--call:hover, .round--up:hover {
    background-color: #000;
    border: 1px solid #373737; }
  .round:focus, .round--call:focus, .round--up:focus {
    outline: none; }
  @media (max-width: 900px) {
    .round, .round--call, .round--up {
      width: 55px;
      height: 55px; } }

.round--call {
  bottom: -32.5px;
  right: 80px; }
  @media (max-width: 1200px) {
    .round--call {
      right: 15px; } }
  @media (max-width: 900px) {
    .round--call {
      bottom: -27.5px; } }

.round--up {
  left: 15px;
  top: -32.5px; }
  @media (max-width: 900px) {
    .round--up {
      top: -27.5px; } }

.fa__container, .team__social, .footer__social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center; }

.fa__icon, .fa__icon--dark {
  color: #fff;
  background-color: #bebebe;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  text-align: center;
  font-size: 14px;
  line-height: 34px;
  margin-right: 6px;
  margin-top: 5px;
  margin-bottom: 5px; }
  .fa__icon:last-of-type, .fa__icon--dark:last-of-type {
    margin-right: 0; }
  .fa__icon:hover, .fa__icon--dark:hover {
    background-color: #b88b58;
    cursor: pointer; }

.fa__icon--dark {
  background-color: #373737; }

.pagination, .pagination--masthead {
  padding-top: 40px;
  padding-bottom: 40px; }

.pagination__dot, .pagination__dot--active {
  border: 2px solid #b88b58;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: transparent; }
  .pagination__dot:hover, .pagination__dot--active:hover {
    background-color: #b88b58;
    cursor: pointer; }
  .pagination__dot:focus, .pagination__dot--active:focus {
    outline: none; }

.pagination__dot--active {
  background-color: #b88b58; }

.masthead {
  width: 100%;
  height: 100vh;
  background-image: url("assets/Bg_img_01.jpg");
  background-position: center top;
  background-size: cover;
  color: #fff;
  text-transform: uppercase;
  position: relative; }
  @media (max-width: 1200px) {
    .masthead {
      background-position: right center; } }

.masthead__navigation {
  height: 100px;
  background-color: #000; }
  @media (max-width: 900px) {
    .masthead__navigation {
      height: 80px; } }
  @media (max-width: 600px) {
    .masthead__navigation {
      height: 60px; } }

.navigation__container {
  padding-right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: 100%;
  position: relative; }
  @media (max-width: 1200px) {
    .navigation__container {
      padding-left: 40px;
      padding-right: 40px; } }

.navigation__list {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  @media (max-width: 1200px) {
    .navigation__list {
      padding-bottom: 100px;
      position: absolute;
      top: 100px;
      left: 0;
      display: none;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      background-color: #000;
      width: 100%;
      height: calc(100vh - 100px);
      z-index: 100; } }
  @media (max-width: 900px) {
    .navigation__list {
      top: 80px;
      height: calc(100vh - 80px);
      padding-bottom: 50px; } }
  @media (max-width: 600px) {
    .navigation__list {
      top: 60px;
      height: calc(100vh - 60px);
      padding-bottom: 15px; } }

.list__item {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  padding: 0 15px;
  margin: 0 auto; }
  .list__item:hover .list__link::after {
    visibility: visible; }
  @media (max-width: 1200px) {
    .list__item {
      font-size: 21px;
      padding-top: 10px;
      padding-bottom: 20px;
      padding-left: 0;
      padding-right: 0;
      position: relative; } }
  @media (max-width: 1200px) and (orientation: portrait) {
    .list__item {
      font-size: 34px; } }
  @media (max-width: 900px) {
    .list__item {
      font-size: 16px;
      padding-top: 5px;
      padding-bottom: 15px; } }
  @media (max-width: 900px) and (orientation: portrait) {
    .list__item {
      font-size: 34px; } }
  @media (max-width: 600px) {
    .list__item {
      font-size: 14px;
      padding-top: 5px;
      padding-bottom: 7px; } }

.list__link {
  color: #fff;
  text-decoration: none;
  display: inline-block; }
  .list__link::after {
    content: '';
    display: block;
    visibility: hidden;
    position: relative;
    top: 41px;
    height: 5px;
    width: 100%;
    background-color: #b88b58; }
  @media (max-width: 1200px) {
    .list__link::after {
      content: '';
      display: block;
      visibility: visible;
      position: absolute;
      left: -10%;
      top: 40px;
      height: 2px;
      width: 120%;
      background-color: #b88b58; } }
  @media (max-width: 1200px) and (orientation: portrait) {
    .list__link::after {
      top: 60px; } }
  @media (max-width: 900px) {
    .list__link::after {
      top: 25px; } }
  @media (max-width: 900px) and (orientation: portrait) {
    .list__link::after {
      top: 60px; } }
  @media (max-width: 600px) {
    .list__link::after {
      height: 1px;
      top: 20px; } }

#navigation__burger {
  display: none; }
  #navigation__burger:checked + .navigation__burger span {
    background-color: #b88b58;
    opacity: 0;
    top: 50%; }
  #navigation__burger:checked + .navigation__burger span:first-child {
    opacity: 1;
    transform: rotate(405deg); }
  #navigation__burger:checked + .navigation__burger span:last-child {
    opacity: 1;
    transform: rotate(-405deg); }
  #navigation__burger:checked ~ .navigation__list {
    display: -ms-flexbox;
    display: flex; }

.navigation__burger {
  display: none;
  position: relative;
  height: 40px;
  width: 40px; }
  .navigation__burger span {
    position: absolute;
    width: 100%;
    height: 4px;
    top: calc(50% - 2px);
    left: 0;
    display: block;
    background-color: #fff;
    transition: .5s; }
  .navigation__burger span:first-child {
    top: 5px; }
  .navigation__burger span:last-child {
    top: 31px; }
  .navigation__burger:hover {
    cursor: pointer; }
    .navigation__burger:hover span {
      background-color: #b88b58; }
  @media (max-width: 1200px) {
    .navigation__burger {
      display: block; } }

.jumbotron {
  height: calc(100% - 166px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center; }
  @media (max-width: 900px) {
    .jumbotron {
      height: calc(100% - 131px); } }
  @media (max-width: 600px) {
    .jumbotron {
      height: calc(100% - 111px); } }

.jumbotron__title {
  font-size: 72px;
  line-height: 69px;
  font-weight: 700;
  text-align: center; }
  @media (max-width: 900px) {
    .jumbotron__title {
      font-size: 50px;
      line-height: 50px; } }
  @media (max-width: 900px) and (orientation: portrait) {
    .jumbotron__title {
      font-size: 72px;
      line-height: 69px; } }
  @media (max-width: 600px) {
    .jumbotron__title {
      font-size: 30px;
      line-height: 30px; } }

.jumbotron__title--decor {
  color: #b88b58; }

.jumbotron__subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  margin: 30px auto 50px; }
  @media (max-width: 900px) {
    .jumbotron__subtitle {
      font-size: 18px;
      margin: 20px auto 30px; } }
  @media (max-width: 900px) and (orientation: portrait) {
    .jumbotron__subtitle {
      font-size: 24px;
      margin: 30px auto 50px; } }
  @media (max-width: 600px) {
    .jumbotron__subtitle {
      font-size: 14px;
      margin: 20px auto 30px; } }

@media (max-width: 600px) {
  .button--masthead {
    max-width: 154px;
    height: 35px;
    font-size: 11px;
    font-weight: 600; } }

@media (max-width: 900px) {
  .masthead__footer {
    padding-top: 20px;
    padding-bottom: 0; } }

.pagination--masthead {
  padding-top: 5px; }
  @media (max-width: 900px) {
    .pagination--masthead {
      padding-bottom: 10px; } }

@media (max-width: 1200px) {
  .section__content--about {
    justify-items: center; } }

.section__element--about:first-of-type {
  grid-column: 1 / span 7; }
  @media (max-width: 1200px) {
    .section__element--about:first-of-type {
      grid-row: 2 / 3;
      grid-column: 3 / span 8; } }
  @media (max-width: 900px) {
    .section__element--about:first-of-type {
      grid-column: 1 / span 12; } }

.section__element--about:nth-of-type(2) {
  grid-column: 8 / span 5; }
  @media (max-width: 1200px) {
    .section__element--about:nth-of-type(2) {
      grid-row: 1 / 2;
      grid-column: 3 / span 8; } }
  @media (max-width: 900px) {
    .section__element--about:nth-of-type(2) {
      grid-column: 1 / span 12; } }

.about__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  color: #242424;
  margin-bottom: 34px; }
  @media (max-width: 1200px) {
    .about__text {
      padding-top: 20px;
      text-align: center; } }

.about__image {
  width: 100%;
  max-width: 445px;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.42); }
  .about__image:hover {
    cursor: pointer; }

@media (max-width: 1200px) {
  .button--about {
    margin-left: auto;
    margin-right: auto; } }

.section--services {
  background-color: #000; }

.header__title--services {
  color: #fff; }

.section__element--services {
  text-align: center;
  grid-column: span 3;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative; }
  .section__element--services::after {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background-color: #bebebe;
    position: absolute;
    right: -14px;
    top: 0; }
  .section__element--services:last-of-type::after {
    display: none; }
  @media (max-width: 900px) {
    .section__element--services {
      grid-column: span 6; }
      .section__element--services::after {
        right: -8px; }
      .section__element--services:nth-of-type(2)::after {
        display: none; } }
  @media (max-width: 600px) {
    .section__element--services {
      grid-column: span 12; }
      .section__element--services::after {
        display: none; } }

.services__icon {
  width: 60px;
  height: 60px; }

.section__highlight--services {
  margin-top: 40px;
  min-height: 30px; }

.projects__navigation {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

.projects__list {
  background-color: #ededed;
  border: 1px solid #cfcfcf;
  border-radius: 25px;
  padding: 0 30px;
  display: inline-block;
  margin: 5px 0 38px; }
  @media (max-width: 900px) {
    .projects__list {
      padding: 0 15px; } }

.projects__listItem {
  display: inline-block;
  position: relative;
  padding: 23px 20px 18px;
  min-width: 73px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300; }
  .projects__listItem:hover .projects__link::after {
    visibility: visible; }
  .projects__listItem::after {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 90%;
    top: 5%;
    right: 0;
    background-color: #cfcfcf; }
    @media (max-width: 600px) {
      .projects__listItem::after {
        width: 90%;
        height: 1px; } }
  .projects__listItem:last-of-type::after {
    display: none; }
    @media (max-width: 600px) {
      .projects__listItem:last-of-type::after {
        display: block; } }
  @media (max-width: 600px) {
    .projects__listItem:first-of-type::after {
      display: none; } }
  @media (max-width: 900px) {
    .projects__listItem {
      padding: 15px 10px 12px; } }
  @media (max-width: 600px) {
    .projects__listItem {
      display: block;
      padding: 15px 10px 12px; } }

.projects__link {
  color: #000;
  text-transform: uppercase;
  text-decoration: none; }
  .projects__link::after {
    content: '';
    display: block;
    visibility: hidden;
    position: relative;
    bottom: -18px;
    height: 5px;
    width: 100%;
    background-color: #b88b58; }

.section__content--projects {
  grid-row-gap: 30px; }

.section__element--projects {
  grid-column: span 3;
  justify-self: center; }
  @media (max-width: 1200px) {
    .section__element--projects {
      grid-column: span 4; } }
  @media (max-width: 900px) {
    .section__element--projects {
      grid-column: span 6; }
      .section__element--projects:nth-of-type(odd) {
        justify-self: end; }
      .section__element--projects:nth-of-type(even) {
        justify-self: start; }
      .section__element--projects:nth-of-type(6) ~ div {
        display: none; } }
  @media (max-width: 600px) {
    .section__element--projects {
      grid-column: span 12; }
      .section__element--projects:nth-of-type(odd) {
        justify-self: center; }
      .section__element--projects:nth-of-type(even) {
        justify-self: center; } }

.projects__wrapper {
  max-width: 255px;
  max-height: 165px;
  position: relative;
  overflow: hidden; }
  .projects__wrapper:hover {
    cursor: pointer; }
    .projects__wrapper:hover .projects__info {
      opacity: 1;
      top: 0; }
  @media (max-width: 1200px) {
    .projects__wrapper {
      max-height: 265px; }
      .projects__wrapper:hover .projects__info {
        top: -2px; } }

.projects__image {
  width: 100%;
  height: 100%; }
  @media (max-width: 1200px) {
    .projects__image {
      height: auto; } }

.projects__img {
  width: 100%;
  height: 100%; }

.projects__info {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  transition: opacity 1s, top 0.5s; }
  @media (max-width: 1200px) {
    .projects__info {
      opacity: 1;
      top: -2px;
      position: relative;
      height: 100px;
      transition: none; } }

.projects__name {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px; }
  @media (max-width: 1200px) {
    .projects__name {
      font-size: 16px; } }

.projects__desc {
  font-size: 12px;
  line-height: 30px;
  font-weight: 300;
  color: #fff; }
  @media (max-width: 1200px) {
    .projects__desc {
      line-height: 21px; } }

.section__footer--projects {
  margin-top: 30px; }

.section--team {
  background-color: #000;
  background-image: url("assets/Bg image.jpg");
  background-size: cover;
  padding-bottom: 0; }

.header__title--team {
  color: #fff; }

.section__element--team {
  grid-column: span 4;
  background-color: #fff;
  border-radius: 2px;
  padding: 48px 20px 44px;
  height: 432px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  @media (max-width: 1200px) {
    .section__element--team:first-of-type {
      grid-column: 2 / span 5; }
    .section__element--team:nth-of-type(2) {
      grid-column: 7 / span 5; }
    .section__element--team:nth-of-type(3) {
      display: none; } }
  @media (max-width: 900px) {
    .section__element--team:first-of-type {
      grid-column: 1 / span 6; }
    .section__element--team:nth-of-type(2) {
      grid-column: 7 / span 6; } }
  @media (max-width: 600px) {
    .section__element--team:first-of-type {
      grid-column: 2 / span 10; }
    .section__element--team:nth-of-type(2) {
      display: none; } }

.team__photo {
  max-width: 183px;
  max-height: 183px;
  border-radius: 50%; }

.team__card {
  text-align: center; }

.team__name {
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #242424;
  text-transform: uppercase;
  margin-bottom: 10px; }

.team__position {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #242424; }

.section__footer--team {
  margin-top: 10px; }

.clients__testimonial {
  grid-column: 3 / span 8;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }
  @media (max-width: 600px) {
    .clients__testimonial {
      grid-column: 1 / span 12; } }

.clients__photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 27px; }

.clients__name {
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  color: #000;
  margin-bottom: 15px; }

.clients__position {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #7e7e7e;
  margin-bottom: 10px; }

.clients__quote {
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #7e7e7e;
  text-align: center; }
  .clients__quote::before {
    content: '';
    display: block;
    width: 27px;
    height: 20px;
    background-image: url("assets/quotes.png");
    position: relative;
    left: calc(50% - 13.5px);
    margin-top: 20px;
    margin-bottom: 20px; }

.section__footer--clients {
  margin-top: 10px; }

.section--logos {
  padding-top: 50px;
  padding-bottom: 50px; }

.section__element--logos {
  grid-column: span 2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  @media (max-width: 1200px) {
    .section__element--logos {
      grid-column: span 4; } }
  @media (max-width: 600px) {
    .section__element--logos {
      grid-column: span 6; } }

.section__element--price {
  grid-column: span 3;
  background-color: #fff;
  border-radius: 2px;
  padding: 30px 15px 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  @media (max-width: 900px) {
    .section__element--price:first-of-type {
      grid-column: 3 / span 4; }
    .section__element--price:nth-of-type(2) {
      grid-column: 7 / span 4; }
    .section__element--price:nth-of-type(3) {
      grid-column: 3 / span 4; }
    .section__element--price:nth-of-type(4) {
      grid-column: 7 / span 4; } }
  @media (max-width: 600px) {
    .section__element--price:first-of-type {
      grid-column: 2 / span 10; }
    .section__element--price:nth-of-type(2) {
      grid-column: 2 / span 10; }
    .section__element--price:nth-of-type(3) {
      grid-column: 2 / span 10; }
    .section__element--price:nth-of-type(4) {
      grid-column: 2 / span 10; } }

.price__type {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #242424;
  text-transform: uppercase;
  margin-bottom: 15px; }

.price__amout {
  font-size: 30px;
  line-height: 21px;
  font-weight: 700;
  color: #242424;
  text-transform: uppercase;
  margin-bottom: 4px; }

.price__due {
  font-size: 10px;
  line-height: 25px;
  font-weight: 400;
  color: #aeaeae;
  text-transform: uppercase; }

.price__offer {
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  color: #7e7e7e;
  margin-top: 24px;
  margin-bottom: 28px; }

.offer__item {
  text-align: center;
  margin-bottom: 4px; }
  .offer__item::after {
    content: '—';
    display: block;
    margin-top: 4px; }
  .offer__item:last-of-type {
    margin-bottom: 0; }
    .offer__item:last-of-type::after {
      display: none; }

.price__button {
  max-width: 129px;
  background-color: #373737; }
  .price__button:hover {
    background-color: #b88b58; }

.section--premium {
  background-color: #fff;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf; }

.section__content--premium {
  border-bottom: 1px solid #bebebe; }

.section__element--premium:first-child {
  grid-column: 1 / span 5;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  @media (max-width: 900px) {
    .section__element--premium:first-child {
      display: none; } }

.section__element--premium:last-child {
  grid-column: 7 / span 5; }
  @media (max-width: 900px) {
    .section__element--premium:last-child {
      grid-column: 3 / span 9; } }

.premium__image {
  width: 100%;
  max-width: 388px; }

.premium__features {
  margin-top: 25px;
  margin-bottom: 50px; }

.features__item {
  margin-bottom: 25px;
  position: relative; }
  .features__item::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -5px;
    left: -60px;
    width: 34px;
    height: 30px;
    background-image: url("assets/icon.png"); }

.features__item--title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #242424;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block; }

.features__desc, .sublist__item {
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #7e7e7e; }

.sublist__item {
  line-height: 30px;
  text-transform: uppercase; }
  .sublist__item::before {
    content: "—";
    padding-right: 5px; }

.section--facts {
  background-color: #000; }

.header__title--facts {
  color: #fff; }

.section__element--facts {
  text-align: center;
  grid-column: span 3;
  padding: 15px 20px 20px; }
  @media (max-width: 900px) {
    .section__element--facts {
      grid-column: span 6; } }
  @media (max-width: 600px) {
    .section__element--facts {
      grid-column: span 12; } }

.facts__number {
  font-size: 48px;
  line-height: 28px;
  font-weight: 700;
  color: #b88b58; }
  .facts__number::after {
    content: '';
    width: 30px;
    height: 3px;
    background-color: #7e7e7e;
    display: block;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: calc(50% - 15px); }

.section__highlight--facts {
  min-height: 60px; }

.section--share {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #aeaeae;
  text-transform: uppercase; }

.share__message {
  grid-column: 3 / span 3;
  justify-self: end;
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  @media (max-width: 1200px) {
    .share__message {
      grid-column: 2 / span 3; } }
  @media (max-width: 900px) {
    .share__message {
      grid-column: span 12;
      justify-self: center; } }

.share__decor {
  width: 24px;
  height: 25px;
  display: block;
  margin-right: 15px; }

.share__social {
  grid-column: 6 / span 5;
  justify-self: center;
  font-size: 10px;
  line-height: 25px;
  font-weight: 700; }
  @media (max-width: 1200px) {
    .share__social {
      grid-column: 5 / span 7; } }
  @media (max-width: 900px) {
    .share__social {
      grid-column: span 12;
      text-align: center; } }

.share__icon {
  width: 85px;
  display: inline-block; }
  .share__icon .fa__icon, .share__icon .fa__icon--dark {
    margin-right: 5px; }
  .share__icon .fa-twitter {
    background-color: #34c5f0; }
  .share__icon .fa-linkedin {
    background-color: #127cb4; }
  .share__icon .fa-facebook {
    background-color: #336297; }
  .share__icon .fa-google-plus {
    background-color: #e74237; }
  .share__icon .fa-pinterest-p {
    background-color: #b71c29; }

.section__content--contact {
  grid-row-gap: 30px; }

.section__element--contact:first-child {
  grid-column: 4 / span 3;
  grid-row: 1 / 2; }
  @media (max-width: 1200px) {
    .section__element--contact:first-child {
      grid-column: 2 / span 5; } }
  @media (max-width: 900px) {
    .section__element--contact:first-child {
      grid-column: 2 / span 10; } }
  @media (max-width: 600px) {
    .section__element--contact:first-child {
      grid-column: 1 / span 12; } }

.section__element--contact:nth-child(2) {
  grid-column: 7 / span 3;
  grid-row: 1 / 2; }
  @media (max-width: 1200px) {
    .section__element--contact:nth-child(2) {
      grid-column: 7 / span 5; } }
  @media (max-width: 900px) {
    .section__element--contact:nth-child(2) {
      grid-row: 2 / 3;
      grid-column: 2 / span 10; } }
  @media (max-width: 600px) {
    .section__element--contact:nth-child(2) {
      grid-column: 1 / span 12; } }

.section__element--contact:nth-child(3) {
  grid-column: 4 / span 6;
  grid-row: 2 / 3; }
  @media (max-width: 1200px) {
    .section__element--contact:nth-child(3) {
      grid-column: 2 / span 10; } }
  @media (max-width: 900px) {
    .section__element--contact:nth-child(3) {
      grid-row: 3 / 4; } }
  @media (max-width: 600px) {
    .section__element--contact:nth-child(3) {
      grid-column: 1 / span 12; } }

.section__element--contact:nth-child(4) {
  grid-column: 4 / span 6;
  grid-row: 3 / 4; }
  @media (max-width: 1200px) {
    .section__element--contact:nth-child(4) {
      grid-column: 2 / span 10; } }
  @media (max-width: 900px) {
    .section__element--contact:nth-child(4) {
      grid-row: 4 / 5; } }
  @media (max-width: 600px) {
    .section__element--contact:nth-child(4) {
      grid-column: 1 / span 12; } }

.section__element--contact:nth-child(5) {
  grid-column: 4 / span 6;
  grid-row: 4 / 5;
  height: 65px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: end;
      align-items: flex-end; }
  @media (max-width: 900px) {
    .section__element--contact:nth-child(5) {
      grid-row: 5 / 6; } }

.contact__input, .contact__textarea, .newsletter__input {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  font-size: 13px;
  line-height: 25px;
  color: #242424;
  font-weight: 400;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #aeaeae;
  padding: 15px 0; }
  .contact__input::-webkit-input-placeholder, .contact__textarea::-webkit-input-placeholder, .newsletter__input::-webkit-input-placeholder {
    color: #aeaeae;
    font-weight: 300;
    text-transform: uppercase; }
  .contact__input::-moz-placeholder, .contact__textarea::-moz-placeholder, .newsletter__input::-moz-placeholder {
    color: #aeaeae;
    font-weight: 300;
    text-transform: uppercase; }
  .contact__input:-ms-input-placeholder, .contact__textarea:-ms-input-placeholder, .newsletter__input:-ms-input-placeholder {
    color: #aeaeae;
    font-weight: 300;
    text-transform: uppercase; }
  .contact__input::placeholder, .contact__textarea::placeholder, .newsletter__input::placeholder {
    color: #aeaeae;
    font-weight: 300;
    text-transform: uppercase; }
  .contact__input:focus, .contact__textarea:focus, .newsletter__input:focus {
    outline: none;
    border-color: #b88b58; }

.contact__textarea {
  resize: none; }

.section-address {
  padding-top: 36px;
  padding-bottom: 37px;
  background-image: url("assets/Map.jpg");
  background-position: center center;
  background-size: cover; }
  @media (max-width: 1200px) {
    .section-address {
      padding-bottom: 47px; } }

.section__element--address {
  grid-column: 1 / span 6;
  background-color: #fff;
  border-radius: 2px;
  padding: 54px 40px; }
  @media (max-width: 1200px) {
    .section__element--address {
      grid-column: 1 / span 7; } }
  @media (max-width: 900px) {
    .section__element--address {
      grid-column: 2 / span 10; } }
  @media (max-width: 600px) {
    .section__element--address {
      grid-column: 1 / span 12; } }

.address__info {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  color: #7e7e7e;
  padding-bottom: 15px; }
  .address__info:last-of-type {
    padding-bottom: 0; }
  .address__info .fa__icon, .address__info .fa__icon--dark {
    font-size: 18px;
    margin-right: 18px;
    background-color: #aeaeae;
    cursor: auto; }

.section--footer {
  background-color: #000;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  position: relative; }
  @media (max-width: 1200px) {
    .section--footer {
      padding-top: 40px; } }

.section__element--footer {
  grid-column: span 4; }
  @media (max-width: 900px) {
    .section__element--footer {
      grid-column: span 12; } }

.section__element--footer:first-child {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  @media (max-width: 900px) {
    .section__element--footer:first-child {
      -ms-flex-align: center;
          align-items: center; } }

.footer__copy {
  font-size: 14px;
  line-height: 25px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400; }
  @media (max-width: 900px) {
    .footer__copy {
      padding-top: 30px; } }

.footer__note {
  font-size: 12px;
  line-height: 21px;
  font-weight: 300;
  color: #7e7e7e; }
  @media (max-width: 900px) {
    .footer__note {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      text-align: center; } }

.footer__newsletter {
  background-color: #373737;
  border-radius: 2px;
  padding: 35px 35px 45px;
  text-align: center; }
  @media (max-width: 900px) {
    .footer__newsletter {
      width: 80%;
      margin-left: auto;
      margin-right: auto; } }

.newsletter__input {
  text-align: center;
  color: #aeaeae;
  width: 80%;
  max-width: 220px;
  margin-bottom: 30px;
  background-color: #373737; }
  @media (max-width: 900px) {
    .newsletter__input {
      width: 100%;
      max-width: 320px; } }

.button--newsletter {
  margin-left: auto;
  margin-right: auto; }