$bg-color-white: #fff;
$bg-color-light: #f7f7f7;
$bg-color-grey: #ededed;
$bg-color-dark: #000;

$text-color-white: #fff;
$text-color-subtitle: #aeaeae;
$text-color-light: #7e7e7e;
$text-color-dark: #242424;
$text-color-black: #000;

$detail-color: #b88b58;
$detail-color-dark: #373737;
$detail-color-light: #bebebe;